%form{action: '/cases', method: 'post'}
  %div
    %label Court File Number:
    %input{name: 'courtfileno'}
  %div
    %label Jurisdiction
    %select{name: 'jurisdiction'}
      %option Court of Appeal for Ontario
      %option Superior Court of Justice
      %option Divisional Court
      %option Ontario Court of Justice
  %div
    %label Party 1 Style
    %select{name: 'party1style'}
      %option Appellant
      %option Plantiff
      %option Moving Party
  %div
    %label Party 1 Name
    %input{name: 'party1name'}
  %div
    %label Party 2 Style
    %select{name: 'party2style'}
      %option Respondent
      %option Defendant
      %option Responding Party
  %div
    %label Party 2 Name
    %input{name: 'party2name'}
  %div
    %label Sender name/address
    %input{name: 'sender'}
  %div
    %label Reciever's Name and Addresses
    %input{name: 'sendeeaddress'}
  %div
    %label Decision 1
    %input{type: 'url', name: 'decisionurl1'}
  %div
    %label City of service:
    %input{name: 'city'}
  %input{type: 'submit'}
