%form
  %div
    %label Court File Number:
    %input
  %div
    %label Jurisdiction
    %input
  %div
    %label Moving Party Name
    %input
  %div
    %label Moving Party Name
    %input
  %div
    %label Responding Party Style
    %input
  %div
    %label Responding Party Name
    %input
  %div
    %label Moving Party address/name
    %input
  %div
    %label Decision 1
    %input
  %div
    %label City of service:
    %input
